# TODO: Remind Bridgesplit to replace below token with a ttl based one after production
//npm.pkg.github.com/:_authToken=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
@bridgesplit:registry=https://npm.pkg.github.com
