@font-face {
  font-family: "NEURIAL GROTESK";
  src: url("../public/fonts/NeurialGrotesk-Regular.otf");
  font-family: "EPILOGUE";
  src: url("../public/fonts/Epilogue-VariableFont.ttf");
  font-family: "EPILOGUE";
  src: url("../public/fonts/Epilogue-ExtraBold.ttf");
  font-family: "EPILOGUE";
  
  src: url("../public/fonts/Epilogue-Light.ttf");
  font-family: "EPILOGUE";
  src: url("../public/fonts/Epilogue-Regular.ttf");
  src: url("../public/fonts/Epilogue-Bold.ttf");
  font-family: "EPILOGUE";
  src: url("../public/fonts/RobotoMono-VariableFont_wght.ttf");
  font-family: "ROBOTO MONO";
}

html {
  @apply box-border;
}
*,
*:before,
*:after {
  @apply box-border;
}

html,
body {
  @apply p-0 m-0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-reach-dialog-overlay] {
  z-index: 9999999;
}